---
import Link from "../components/Link.astro";
import { SITE_CONTACT } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
  <h1 class="text-2xl font-semibold">Contact</h1>
  <p>
    If you would like to get in contact with me, please use one of the methods
    below. I'll try to get back to you asap.
  </p>

  <div class="flex flex-col items-center gap-2 pt-2 md:flex-row">
    {
      SITE_CONTACT.map((method, index) => (
        <>
          <Link href={method.href} target="_blank">
            {method.label}
          </Link>
          {SITE_CONTACT[index] !== SITE_CONTACT[SITE_CONTACT.length - 1] && (
            <p class="text-xs">|</p>
          )}
        </>
      ))
    }
  </div>
</Layout>
