---
import { SITE_MENU } from "../consts";
---

<header
  class={`py-2 relative motion-preset-fade-lg motion-preset-slide-down-lg`}
  transition:persist
>
  <div
    class={`md:absolute -top-2 -left-[100px] p-4 motion-preset-expand motion-preset-fade motion-delay-600`}
  >
    <img src="/cookie.gif" class="size-16" />
    <p class="pt-1 text-sm">cookie ^</p>
  </div>

  <h1 class="text-4xl">Marcus Leonas Harvey</h1>
  <nav class="flex flex-row items-center gap-2 font-mono">
    <p>cd{" "}</p>
    {
      SITE_MENU.map((item, index) => (
        <>
          <a
            href={item.href}
            class="underline decoration-dotted underline-offset-2 duration-200 hover:motion-preset-oscillate-sm hover:text-lime-300"
          >
            {item.label}
          </a>
          {SITE_MENU[index] !== SITE_MENU[SITE_MENU.length - 1] && (
            <p class="text-xs">|</p>
          )}
        </>
      ))
    }
  </nav>
</header>
