---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Link from "../../components/Link.astro";

export async function getStaticPaths() {
  const posts = await getCollection("shows");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"shows">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} anim={false}>
  <div class="py-2">
    <Link href="/shows">&lt; Back to Shows</Link>
    <h1 class="pt-2 text-2xl font-semibold">{post.data.title}</h1>
    <span class=""
      >{
        new Date(post.data.showDate).toLocaleDateString("en-GB", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      } | {post.data.company}</span
    >
    <div class="flex flex-col gap-0.5 pt-2 md:flex-row">
      <p>Roles:</p>
      {post.data.roles.join(", ").toString()}
    </div>
  </div>
  <article
    class="prose pt-2 prose-invert lg:prose-xl prose-p:text-base prose-a:duration-200 prose-a:hover:motion-preset-oscillate-sm prose-a:hover:text-lime-300"
  >
    <Content />
  </article>
</Layout>
